.Hamburger {
  width: 60px;

  margin: 10px;
}

.Bar1,
.Bar2 {
  transition-duration: 500ms;
}

.Hamburger:hover > .Bar1 {
  animation: higherbarAnimation 1s;
}
.Hamburger:hover > .Bar2 {
  animation: lowerbarAnimation 1s;
}

@keyframes higherbarAnimation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-7px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes lowerbarAnimation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(7px);
  }

  100% {
    transform: translateX(0px);
  }
}
