.contact_page {
  background: #f2ebe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20rem 4rem 0rem 4rem;
}

.hello_text {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 0.12em;
}

.contact_box {
  padding-top: 4rem;
  width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_text {
  font-size: 1em;
}
