.contact {
  // background-color: #f7e8cb;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form {
    margin: 20rem 3rem 4rem 5rem;

    @media screen and (max-width: 1000px) {
      margin: 7rem 0rem 4rem 0rem;
    }
  }

  &__group {
    z-index: 1;
    font-size: 13rem;
    padding: 0rem 0rem 0rem 5rem;
    margin-top: 12rem;
    line-height: 0.8;
    @media screen and (max-width: 1400px) {
      font-size: 8rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 6rem;
    }
    @media screen and (max-width: 1000px) {
      font-size: 5rem;
      padding: 9rem 0rem 0rem 0rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 4rem;
    }
  }
  &__get {
    white-space: nowrap;
    padding-right: 5rem;
  }
  &__touch {
    padding-left: 5rem;
  }
  // &__icons {
  //   margin: auto;
  //   width: 50%;
  // }
  &__line {
    position: absolute;
    left: -3rem;
    top: 20rem;
    z-index: 0;
    @media screen and (max-width: 1000px) {
      transform: scale(0.7);
      left: -7rem;
      top: -10rem;
    }
  }
}

.formModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;

  &__box {
    max-width: 30rem;
    height: 20rem;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    // text-align: center;
  }
  &__button {
    color: black;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
  }

  &__text {
    color: black;
    font-weight: bold;
  }
}
