.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5rem;
  padding-top: 2rem;
  // background: #f3f0f0;
  &--open {
    background: transparent;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }
  &--closed {
    background: #f3f0f0;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  &__hamburger {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__upperbar,
  &__lowerbar {
    width: 2.5rem;
    height: 0.2rem;
    background: black;
    margin: 0.3rem;
  }
}
