.CrossIcon2 {
  width: 70px;
  stroke: black;
  stroke-width: 10;
  animation: crossAni 0.4s ease-out;
  margin: 10px;
  animation-fill-mode: forwards;
}

.cross_bar1 {
  animation: crossAni 0.4s ease-out;
  animation-fill-mode: forwards;
}

.cross_bar2 {
  animation: reversecrossAni 0.4s ease-out;
  animation-fill-mode: forwards;
}

@keyframes crossAni {
  0% {
    transform: rotate(0) translate(0px, 0px);
  }

  100% {
    transform: rotate(45deg) translate(-10px, -40px);
  }
}

@keyframes reversecrossAni {
  0% {
    transform: rotate(0) translate(0px, 0px);
  }

  100% {
    transform: rotate(-45deg) translate(0px, 10px);
  }
}

.CrossIcon1 {
  width: 70px;
  stroke: black;
  stroke-width: 10;
  margin: 10px;
  transition-duration: 500ms;
}

.CrossIcon1:hover {
  transform: rotate(90deg);
}
