.navigation_overlay {
  position: fixed;
  background-color: #f3eee8;
  margin: 10px 0 0 0;
  padding: 100px 0 0 0;
  /* height: 100%; */
  width: 100%;
  z-index: 2;
  height: 100vh;
  overflow-y: hidden;
}

.navigation_overlay-hidden {
  display: none;
}

.outerContainer1 {
  display: flex;
  justify-content: center;
}

.linkItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 50px;
}

.linkItem {
  text-decoration: none;
  color: black;
  font-size: 50px;
  padding: 30px;
}

.home {
  animation: homeAnimation 0.4s ease-out;
}

.about {
  animation: aboutAnimation 0.6s ease-out;
}

.works {
  animation: worksAnimation 0.8s ease-out;
}

.contact {
  animation: contactAnimation 1s ease-out;
}

@keyframes homeAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes aboutAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes worksAnimation {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes contactAnimation {
  0% {
    transform: translateY(40px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
