.home {
  &__textgroup {
    padding-top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    font-size: 14rem;
  }
  &__portfolio {
    font-size: 7rem;
    color: black;
  }

  &__art {
    z-index: -1;
    position: relative;
    left: -3rem;
    top: -10rem;
  }

  &__watercolors {
    font-size: 5rem;
    color: black;
    text-align: center;
    position: absolute;
    top: 70rem;
  }

  &__pink {
    position: absolute;
    top: 17rem;
    left: -4rem;
    z-index: -1;
  }
  &__orange {
    position: absolute;
    top: -5rem;
    right: -4rem;
    z-index: -1;
  }

  &__circle {
    position: absolute;
    top: 67rem;
    right: 29rem;
    z-index: 1;
  }
}
