.home {
  // background-image: url("./fargeklatt2.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: scroll;
  &__image {
    width: 100vw;
    position: absolute;
    top: -10rem;
    z-index: 100;
  }
  &__textgroup {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    font-size: 14vw;

    @media screen and (max-width: 1000px) {
      padding-top: 10vh;
      font-size: 20vw;
    }
  }
  &__portfolio {
    font-size: 7vw;
    color: black;
  }

  &__art {
    z-index: -1;
    position: relative;
    left: -3rem;
    top: -10rem;
    transform: translate3d(0, 0, 0);
    @media screen and (max-width: 1000px) {
      left: -1rem;
      top: -15rem;
    }
  }
  &__pinkart {
    width: 150rem;
    height: 150rem;
  }

  &__watercolors {
    // font-size: 5rem;
    color: black;
    text-align: center;
    position: absolute;
    top: 70rem;
    font-size: 5vw;
    padding-top: 10vh;

    @media screen and (max-width: 1000px) {
      margin-top: 10vh;
      font-size: 5vw;
    }
  }

  &__pink {
    position: absolute;
    top: 17rem;
    left: 0rem;
    z-index: 1;
  }
  &__orange {
    position: absolute;
    top: -5rem;
    right: 0rem;
    z-index: -1;
  }

  &__circle {
    position: absolute;
    top: 67rem;
    right: 29rem;
    z-index: 1;
  }
}
