.home {
  &__textgroup {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.75;
    // font-size: 14vw;
    color: rgb(178, 147, 244);
  }
  &__vertical {
    transform: rotate(90deg);
    position: absolute;
    top: 20rem;
    right: 20rem;
  }
  &__verticalTwo {
    padding-top: 2.5rem;
    position: absolute;
    top: 23rem;
    right: 43rem;
    color: black;
  }
  &__behold {
    white-space: nowrap;
    padding-right: 5rem;
  }

  &__see {
    padding-left: 1.4rem;
  }
  &__beholdTwo {
    white-space: nowrap;
    transform: rotate(85deg);
    padding-top: 0.6rem;
  }

  &__seeTwo {
    // padding-left: 1.4rem;
    transform: rotate(95deg);
    padding-bottom: 0.6rem;
  }
  &__hanne {
    // padding-bottom: 2rem;
    font-size: 12vw;
  }
  &__edfelt {
    padding-top: 2rem;
  }
  &__portfolio {
    // padding-top: 1rem;
    font-size: 13vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(178, 147, 244);
  }

  &__art {
    // font-size: 30rem;
    z-index: -1;
    font-family: "dahlia";
    color: rgb(212, 194, 189);
    position: relative;
    font-weight: 900;
    top: -7rem;
    left: -2rem;
    // font-weight: bold;

    // background-color: lightgrey;
    @media screen and (max-width: 1000px) {
      left: -1rem;
      top: -15rem;
    }
  }
  &__pinkart {
    width: 150rem;
    height: 150rem;
  }

  &__watercolors {
    color: black;
    position: relative;
    top: -15rem;

    font-size: 5vw;

    @media screen and (max-width: 1000px) {
      margin-top: 10vh;
      font-size: 5vw;
    }
  }

  &__pink {
    position: absolute;
    top: 17rem;
    left: 0rem;
    z-index: 1;
  }
  &__orange {
    position: absolute;
    top: -5rem;
    right: 0rem;
    z-index: -1;
  }

  &__circle {
    position: absolute;
    top: 67rem;
    right: 29rem;
    z-index: 1;
  }

  &__duo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    padding: 3rem 0rem;
  }
  &__container {
    display: inline-block;
    overflow: hidden;
    // width: 50vw;
    margin: 7rem 0rem 2rem 0rem;

    // height: 40rem;

    height: 0;
    width: 100%;
    padding-bottom: 90%;
  }

  &__duoLeft {
    display: block;
    width: 50vw;
    // height: 90vh;
    // height: 140vw;

    // transform: scale(1.5);
    // transition-duration: 0.7s;
    // transition-timing-function: ease-in-out;
  }
  &__duoRight {
    display: block;
    width: 50vw;

    // transform: scale(1.2);
    // transition-duration: 0.7s;
    // transition-timing-function: ease-in-out;
  }
  // IMAGE FOUR
  &__wrapperFour {
    padding-top: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__empty {
    width: 40%;
  }
  &__containerFour {
    width: 100%;
  }
  &__imageFour {
    width: 100%;
  }
  &__titleFour {
    margin: 1rem;
    width: 40%;
  }
  // IMAGE FIVE
  &__wrapperFive {
    padding-top: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__containerFive {
    display: inline-block;
    overflow: hidden;
    margin: 7rem 0rem 2rem 0rem;
    height: 0;
    width: 45%;
    padding-bottom: 40%;
  }

  &__imageFive {
    display: block;
    width: 100%;
  }
  &__title {
    margin: 1rem 0rem;
  }
  // IMAGE SIX

  &__outerwrapperLeft {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
  }
  &__wrapperSix {
    // width: 100vw;

    padding-top: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  &__containerSix {
    width: 70vw;
  }
  &__imageSix {
    // width: 100%;
    width: 70vw;
  }
}
