li {
  list-style-type: none;
  display: flex;
  margin: 7%;
  justify-content: center;
  font-size: 300%;
}

.linkItem {
  text-decoration: none;
  color: black;
  border: 100;
}

.about {
  animation: aboutAnimation 0.5s ease-out;
}

.works {
  animation: worksAnimation 0.6s ease-out;
}

.contact {
  animation: contactAnimation 0.7s ease-out;
}

@keyframes aboutAnimation {
  0% {
    transform: translateY(5px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes worksAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes contactAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
