.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  align-items: center;
  padding-bottom: 2rem;

  &__icons {
    display: flex;
    padding: 0 1rem;
    cursor: pointer;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    padding: 0 1rem;
  }

  &__links {
    display: flex;
    padding: 0 1rem;
  }
  &__home,
  &__about,
  &__works,
  &__contact {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    &__icons {
      padding: 2rem 0rem;
    }
    &__facebook {
      width: 2rem;
      height: 2rem;
    }
    &__instagram {
      width: 2rem;
      height: 2rem;
    }
    &__pinterest {
      width: 2rem;
      height: 2rem;
    }
    &__links {
      flex-direction: column;
      font-size: 1.3rem;
      align-items: center;
      padding: 2rem 0rem;
    }
    &__copyright {
      font-size: 1.2rem;
    }
  }
}
