.flex_grid {
  padding-top: 200px;
  background: #f2ebe6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

img,
.image-size {
  width: 400px;
  padding: 2rem;
}
