.lock-screen {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 7rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f3f0f0;
  z-index: 2;

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-size: 4rem;
    @media screen and (max-width: 800px) {
      font-size: 3rem;
      padding: 0;
    }
  }
  &__horistontalGrp {
    display: flex;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__link {
    text-decoration: none;
    color: black;

    padding: 1rem 1.5rem 1rem 1.5rem;
    @media screen and (max-width: 800px) {
      padding: 2rem 0rem 2rem 0rem;
    }
  }
}
