body {
  font-family: "Playfair Display", serif;
  background-color: #f3eee8;
}

#my-scrollbar {
  height: 100vh;
  /* overflow: auto; */
}

/* 
colors: 
neutral: #f2ebe6;
pink: #EBD5F5
blue:#CEEFF2
yellow: #E9F2CE
blush: #F2DDCE  */
/* ::-webkit-scrollbar {
  width: 10px;
  z-index: -1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scrolling_bar {
  z-index: 10;
  position: absolute;

  top: 0;
  right: -5px;
  height: 100vh;
  width: 10px;
  background-color: green;
} */
