body {
  background-color: #f5efe8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

@font-face {
  font-family: "dahlia";
  src: url("./UI/Fonts/Dahlia-Regular.woff2") format("woff2");
}

body {
  font-family: "dahlia", Helvetica, Arial, sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(77, 73, 73);
  border-radius: 10px;

  width: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
