.frontart {
  font-family: roboto;
  font-size: 0.9rem;
  font-weight: 500;
  &__container {
    // display: inline-block;
    overflow: hidden;
    height: 0;
    width: 110%;
    padding-bottom: 80%;
  }

  &__image {
    // display: block;
    width: 110%;
    // height: 150%;
    // transform: scale(1.3);
  }
}
