.artwork {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  padding-bottom: 5rem;

  &__img {
    width: 33rem;
    height: 40rem;
    // padding: 2rem;
    border-radius: 0rem;
  }
  &__back {
    color: black;
    font-size: 2rem;
  }

  &__information {
    height: 20rem;
  }
}

.placeholder {
  height: 10rem;
  width: 15rem;
}
